* {
  color: white;
}

.project_body {
  margin: 0%;
  height: 285vh;
  width: 100vw;
  display: flex;
  background-image: url("./Images/ben-o-bro-wpU4veNGnHg-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.left_side {
  width: 70%;
  height: 100vh;
  position: fixed;
  right: 0%;
  background-image: linear-gradient(#232F3D,#FF3366);
  opacity: 0.8;
  z-index: 99;
}

.right_side {
    width: 30%;
    height: 100vh;
    position: fixed;
    left: 0%;
    background-color: #232F3D;
    z-index: 99;
}

.heading {
  z-index: 999;
  color: white;
  font-size: 2.6em;
  margin: 2%;
}

.p_body {
  position: absolute;
  z-index: 999;
  height: fit-content;
  width: 65%; 
  margin: 4% 0% 0% 2%; 
}

.individual_projects{
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
  width: 100%;
  height: 15rem;
}

.p_description {
  width: 37%;
}

.p_image{
  border: 1px solid #FF3366;
  width: 50%;
  background-size: cover;
  background-position: center;
  transition: all 0.3s;
  box-shadow: 0px 4px 10px 0.1px black;
  cursor: pointer;
}

.ch_app {
  background-image: url("./Images/Screenshot\ from\ 2022-05-26\ 10-37-19.png");
}

.p_image:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 22px 0.1px black;
}

.exp_app{
  background-image: url("./Images/Screenshot\ from\ 2022-05-26\ 11-27-52.png");
}

.caw {
  background-image: url("./Images/caw.png");
}

.bg_app {
  background-image: url("./Images/bgchange.png");
}

.graf_app {
  background-image: url("./Images/graffiti.jpg");
}

.food_app{
  background-image: url("./Images/foodelicious.jpg");
}

.prev_links {

  z-index: 9999;
  position: fixed;
  right: 3%;
  margin: 1.5%;
}

.prev_links nav > nav > a:hover {
  color: rgb(255, 83, 126);
  cursor: pointer;
}
.prev_links > nav > nav > a{
  text-decoration: none;
  transition-duration: 0.3s;
}

.prev_links > nav > nav {
  margin-top: 1.2rem;
}

hr{
  border: 1px solid #FF3366;
}

@media (min-height: 450), screen and (orientation: portrait)  {
.right_side {
    width: 45%;
    z-index: 999;
}

.heading {
  font-size: 22px;
  margin: 1%;
}

.p_description {
  width: 40%;
  font-size: 11px;
}
.p_image{
  width: 34%;
  height: 27%;
}

.p_body {
  margin: 20% 0% 0% 2%; 
  width: 90%;
}

.p_description > h2 {
  font-size: 12px;
}

.p_image{
  width: 50%;
  height: 60%;
}

.project_body {
  height: 215vh;
}

.prev_links{ 
  margin: 0%;
  right: 0%;
  padding: 2%;
  padding-top: 0%;
  background-color: #232F3D;
  font-size: 13px;
  border-radius: 0px 0px 0px 14px;
  opacity: 0.5;
  box-shadow: 0px 0px 10px 0.01px black;
}

@media (min-width: 445px) {
  .heading {
    margin: 3%;
    font-size: 30px;
  }
}

}